  @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Montserrat&family=Sacramento&family=Ubuntu:ital,wght@0,300;0,400;1,400&display=swap');

  body{
    background-color: #e1d4c2;
}

*{
    margin: 0;
    padding: 0;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color:#322f2b;
    color: white;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    color: white;
    font-family: 'Varela Round', sans-serif;
}

nav ul li a {
    text-decoration: none;
    color: inherit; 
    transition: color 0.3s; 
}

nav ul li a:hover {
    color: #ffcc00; 
}

.brand img{
    width: 44px;
    height: 44px; 
    padding: 0 8px;
    border-radius: 50%; 
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.4rem;
}


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    min-height: 72vh;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    position: relative; 
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto; 
    object-fit: cover;
    z-index: -1;
    opacity: 0.65; 
}

.content {
    position: relative;
    z-index: 1;
}



.bottom{
    position: sticky;
    height: 130px;
    background-color:#322f2b ;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    margin: 12px 0;
}
.icons{
    margin-top: 14px;
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vh;
    cursor: pointer;
}
.songItemContainer{
    margin-top: 74px;
}

.songItem {
    height: 50px;
    display: flex;
    background-color: #afa597;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 43px;
    margin:0 23px ;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

.about-container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
}

.about-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-container p {
    font-size: 1.1rem;
    line-height: 1.6;
}


.songlist {
    text-align: center;
    max-width: 800px;
    margin: 100px auto;
    padding: 30px;
    margin-top: 5px;
    color: #322f2b;

}
